In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Cleaned_dataset.xlsx')

In [3]:
df.head()

,Bill Date,Cust cid,Outlet Name,MAINCATEGORY,SUBCATEGORY,BRANDS,CATEGORY,Item Code,Item Name,Qty,Item Rate,Total Amt,segment
0,2025-03-14,1N60006307,FRESH2DAY - KILPAUK,FRUITS & VEGETABLES,Regular Fruits,F2D,FRESH FRUITS,156.0,BANANA KARPOORAVALI,0.60,80,48.24,High Value
1,2025-03-14,1N60006307,FRESH2DAY - KILPAUK,FRUITS & VEGETABLES,Regular Fruits,F2D,FRESH FRUITS,156.0,BANANA KARPOORAVALI,0.09,80,6.96,High Value
2,2025-03-14,1N60006307,FRESH2DAY - KILPAUK,FRUITS & VEGETABLES,Herbs & Seasoning,F2D,FRESH VEGETABLES,88.0,GARLICK,0.66,169,112.22,High Value
3,2025-03-14,1N60006307,FRESH2DAY - KILPAUK,Staples,Whole Spices,FRESH2DAY,Masala,2684.0,F2D MUSTRAD 100G,1.00,17,17.00,High Value
4,2025-03-21,1N60006307,FRESH2DAY - KILPAUK,FRUITS & VEGETABLES,Regular Fruits,F2D,FRESH FRUITS,153.0,BANANA RASTHALI,0.26,97,24.83,High Value

In [15]:
df_stat= df.groupby(['segment','CATEGORY'])['Total Amt'].agg(SUM = 'sum')

In [17]:
df_stat.sort_values(by = 'SUM', ascending = False).head(10)

                                                 SUM
segment      CATEGORY
High Value   FRESH FRUITS                10375247.54
             FRESH VEGETABLES             5147831.58
Medium Value FRESH FRUITS                 2101996.22
High Value   Exotic Fruits & Vegetables    848069.05
             Chilled Dairy                 706584.01
Medium Value FRESH VEGETABLES              568360.67
High Value   Fresh Fruits                  494252.06
             Foodgrain                     475049.04
             Ready Foods                   429584.99
             Instant                       199561.43